<div class="intro" id="intro">
    <div class="logo-intro">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.76 91.37">
            <path d="M30.82,74A15.42,15.42,0,1,1,17.53,60.66,15.43,15.43,0,0,1,30.82,74ZM99.76,50.48,72.62,64.21,11,33.06A20,20,0,0,1,0,15.21V0Z" transform="translate(0 0)"/>
        </svg>
    </div>
    <div class="intro-text">
        <h1 class="hide">
            <span class="text1">Ciao</span>
        </h1>
        <h1 class="hide">
            <span class="text1">sono&nbsp;</span>
            <span class="text1">Armando.</span>
        </h1>
        <h1 class="hide">
            <span class="text2">Ti&nbsp;</span>
            <span class="text2">aiuto&nbsp;</span>
            <span class="text2">a&nbsp;</span>
            <span class="text2">rendere&nbsp;</span>
        </h1>
        <h1 class="hide">
            <span class="text2">il&nbsp;</span>
            <span class="text2">tuo&nbsp;</span>
            <span class="text2">business&nbsp;</span>
        </h1>
        <h1 class="hide">
            <span class="text3">attraente,&nbsp;</span>
            <span class="text3">funzionale&nbsp;</span>
        </h1>
        <h1 class="hide">
            <span class="text3">e&nbsp;</span>
            <span class="text3">online.</span>
        </h1>
    </div>
</div>

<div class="slider"></div>

<div class="home">
    <div class="home-text">
        <h1 class="hide">
            <span class="text">Trasforma&nbsp;</span>
            <span class="text">ora&nbsp;</span>
        </h1>
        <h1 class="hide">
            <span class="text">il&nbsp;</span>
            <span class="text">tuo&nbsp;</span>
            <span class="text">business&nbsp;</span>
        </h1>
        <span style="display: block; height: 40px;"></span>
        <h2>
            <span class="subtitle">
                Progetto e sviluppo pagine Web per realtà e professionisti
                che si vogliono distinguere.</span>
        </h2>
        <span style="display: block; height: 40px;"></span>
        <div class="cto">
            <a href="home">Scopri come -></a>
        </div>
    </div>
</div>