<div class="contacts">
    <div class="contacts-text">
        <h1 class="hide">
            <span class="text">Get&nbsp;</span>
            <span class="text">in&nbsp;</span>
            <span class="text">touch!</span>
        </h1>
        <span style="display: block; height: 40px;"></span>
        <h2>
            <span class="subtitle">
                Lavoriamo insieme, rendiamo efficace
                la presenza della tua idea in rete, 
                facciamo networking.</span>
        </h2>
        <span style="display: block; height: 40px;"></span>
        <div class="cto">
            <a href="home">armandoresta@live.it -></a>
        </div>
    </div>
</div>
