<div class="works">
    <div class="works-text">
        <h1 class="hide">
            <span class="text">Solo&nbsp;</span>
            <span class="text">un&nbsp;</span>
            <span class="text">po'&nbsp;</span>
        </h1>
        <h1 class="hide">
            <span class="text">di&nbsp;</span>
            <span class="text">pazienza&nbsp;</span>
        </h1>
        <span style="display: block; height: 40px;"></span>
        <h2>
            <span class="subtitle">
                Sto terminando i miei ultimi lavori. Non appena pronti, 
                saranno visibili in questa pagina.</span>
        </h2>
    </div>
</div>